# Variables generales
DEBUG=True
TESTING=False

# Configuración de la base de datos
SQLALCHEMY_DATABASE_URI='sqlite:///site.db'
SQLALCHEMY_TRACK_MODIFICATIONS=False

# Clave secreta para sesiones y firmado de JWTs
SECRET_KEY='your_secret_key_here'

# Otras variables específicas del proyecto pueden añadirse aquí en el futuro